<a href="https://colab.research.google.com/github/Venkateshr15/Data-Science/blob/main/First_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pandas scikit-learn

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.11/dist-packages (1.6.1)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from google.colab import files

In [4]:
df=pd.read_csv('/content/movie_info.csv')

In [5]:
pd.read_csv('/content/movie_info.csv')

,movie id,movie title,release date,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-95,0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-95,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-95,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-95,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-95,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-98,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-98,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-98,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-94,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-96,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
user_preferences = {
    'unknown': 0,
    'Action': 1,
    'Adventure': 0,
    'Animation': 0,
    "Children's": 0,
    'Comedy': 0,
    'Crime': 0,
    'Documentary': 0,
    'Drama': 0,
    'Fantasy': 0,
    'Film-Noir': 0,
    'Horror': 0,
    'Musical': 0,
    'Mystery': 0,
    'Romance': 0,
    'Sci-Fi': 1,
    'Thriller': 1,
    'War': 0,
    'Western': 0
}

In [7]:
genre_columns = list(user_preferences.keys())
user_vector = np.array([user_preferences[genre] for genre in genre_columns])

In [8]:
movie_genres = df[genre_columns].values

In [9]:
similarities = cosine_similarity([user_vector], movie_genres)[0]

In [10]:
df['similarity'] = similarities
top_recommendations = df.sort_values(by='similarity', ascending=False)[['movie title', 'similarity']].head(10)

In [11]:
print("Top 10 Personalized Movie Recommendations:")
print(top_recommendations.to_string(index=False))

Top 10 Personalized Movie Recommendations:
                      movie title  similarity
Terminator 2: Judgment Day (1991)    1.000000
              Arrival, The (1996)    1.000000
           Johnny Mnemonic (1995)    1.000000
         Nemesis 2: Nebula (1995)    1.000000
           Terminator, The (1984)    1.000000
        Lawnmower Man, The (1992)    1.000000
                  Face/Off (1997)    1.000000
             Lost in Space (1998)    1.000000
                      Solo (1996)    1.000000
                   Alien 3 (1992)    0.866025